PORT=8082
SECRET_KEY=change-this-secret-key-please
ADMIN_USERNAME=admin
ADMIN_PASSWORD=change-this-password
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
ALLOWED_GOOGLE_DOMAIN=ad-comm.com
BASE_URL=http://tools.ad-comm.com:8082
